body {
    font-family: 'Press Start 2P';
    font-size: 11px;
    background-color: #000;
    margin: 0px;
  }
  canvas {
    display: block;
  }
  .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
  }
  .menu img {
    width: 40%;
  }
  .menu div {
    font-size: 35px;
    background-color: #ffffff;
    padding: 5px 5px;
  }
  .menu div:hover {
    font-size: 40px;
    color: #ffffff;
    background-color: #ff2745;
    padding: 5px 5px;
  }